<h1>Edit Task</h1>
<%= form_for @task do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br>
	<%= f.label :deadline %>
	<%= f.text_field :deadline %><br>
	<%= f.label :priority %>
	<%= f.text_field :priority %><br>
	<%= f.submit %>
<% end %>