<!DOCTYPE html>
<html>
  <head>
    <title>stuff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/tasks/index"><strong>stuff i need/want</strong></a>
    <a class="navbar-brand" href="/tasks/index">To Do <span class="sr-only">(current)</span></a>
    <a class="navbar-brand" href="/tasks/uncheck">uncheck <span class="sr-only">(current)</span></a>
    <a class="navbar-brand" href="/savings/index">allowance <span class="sr-only">(current)</span></a>
    <%= link_to "Logout",  destroy_user_session_path, method: :delete %>
</nav>
    <% end %>
    <%= yield %>
  </body>
</html>
